<form [formGroup]="searchForm" novalidate (ngSubmit)="onSubmit()">
  <mat-card class="shipping-card">
    <mat-card-header>
      <mat-card-title>Order Search</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field>
        <mat-label>Enter a date range</mat-label>
        <mat-date-range-input [formGroup]="searchForm" [rangePicker]="picker">
          <input matStartDate formControlName="start" placeholder="Start date">
          <input matEndDate formControlName="end" placeholder="End date">
        </mat-date-range-input>
        <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
      
        <mat-error *ngIf="searchForm.controls.start.hasError('matStartDateInvalid')">Invalid start date</mat-error>
        <mat-error *ngIf="searchForm.controls.end.hasError('matEndDateInvalid')">Invalid end date</mat-error>
      </mat-form-field>
      
      <p>Selected range: {{searchForm.value | json}}</p>
      
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit">Submit</button>
    </mat-card-actions>
  </mat-card>
</form>

<mat-table #table [dataSource]="dataSource">

  <ng-container matColumnDef="monthYear">
    <mat-header-cell *matHeaderCellDef> Month & Year </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.monthYear}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="result">
    <mat-header-cell *matHeaderCellDef> Result </mat-header-cell>
    <mat-cell *matCellDef="let element"> 
    <mat-table *ngIf="element.result.length>0" #table2 [dataSource]="getdata(element.result)">
      <ng-container matColumnDef="service">
        <mat-header-cell *matHeaderCellDef> Service </mat-header-cell>
        <mat-cell *matCellDef="let element2"> {{element2.service}} </mat-cell>
      </ng-container>
        <ng-container matColumnDef="count">
        <mat-header-cell *matHeaderCellDef> Count </mat-header-cell>
        <mat-cell *matCellDef="let element2"> {{element2.count}} </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns2"></mat-header-row>
      <mat-row *matRowDef="let row2; columns: displayedColumns2;"></mat-row>
    </mat-table>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
